body {
  margin: 0;

  background-color: #F1F2ED;  

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  margin: 12px;
  flex-direction: column;
  list-style: none;
  justify-content: flex-end;
}

li {
  width: 425px;
  height: 200px;
  background: #ebbbc7ab;
  margin: 12px;
  border-radius: 20px;
  stroke: transparent;
}

.scFrame {
  width: 425px;
  height: 200px;
  opacity: 80%;
  border-radius: 20px;
  outline: none;
  position: absolute;
}
